  <% include ../partials/header %>

<div class="row">
  <h1>Welcome to the add products page  <br>
  <div class="grid-container">
         <% res1.forEach(function(product) { %>
                <form accept-charset="UTF-8" action="/edit/<%= product.Id %>" method="post">
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" value="<%= product.Name %>" />
                  
                  
                  <label for="name">Price</label>
                    <input name="price" type="text" value="<%= product.Price %>" />
                    
                   
                   <label for="name">Image URL</label> 
                    <input name="image" type="text" value="<%= product.Image %>" />
                    
                   
                   <label for="name">Activity</label> 
                    <input name="activity" type="text" value="<%= product.Activity %>" />
                    
                    <button class="w3-button w3-white w3-border">Press Me</button>
                   
                    </div>
              </form>
         <% }); %>
         
         
    </div>
  </h1>
</div>


<label for="sport">Sport:</label>







<% include ../partials/footer %>